.workwrap {
        /* margin-top: 50px; */
}

.workwrap > .tit {
        text-align: center;
        font-size: 3rem;
        font-family: 'Ubuntu', sans-serif;
        background-position: center 70%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.work {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
}

.work .one {
        width: 20%;
        height: 140px;
        /* background-color: #f5f5f5; */
        background-color: white;
        border: 1px solid #eaeaea;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 0;
        margin: 0.5%;
}

.work .one > div {
        width: 85%;
        margin: 5px 0;
        font-size: 1.3rem;
        font-family: 'S-CoreDream-3Light';
        color: black;
        font-weight: bolder;
}

.work .one .tit {
        font-size: 1.7rem;
}

.work .one .complete {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
}

.work .one .complete .bg {
        width: 100%;
        height: 15px;
        overflow: hidden;
        position: relative;
        border-radius: 30px;
        background-color: white;
        border: 1px solid darkorange;
}

.work .one .complete .bg .bar {
        position: absolute;
        top: 0;
        left: 0;
        /* background-color: #0088ff; */
        background-color: darkorange;
        height: 100%;
        border-radius: 30px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        line-height: 0;
}
.work .one .complete .bg .bar a {
        color: white;
        font-family: 'S-CoreDream-3Light';
        font-size: 1.3rem;
}